*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.languages a {
    font-size: 1.6rem;
    font-weight: bold;
}

.languages {
    text-align: center;
}

.languages p {
    font-size: 1.3rem;
    margin-top: 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    background-image: url('https://pngimg.com/d/wikipedia_PNG11.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 23rem;
    height: 70px;
    margin-top: 10rem;
}

header h2 {
    font-size: 1.5rem;
    color: #404040;
}

main {
    width: 100%;
    height: 100vh;
    /* border:2px solid black; */
}

.upper-section {
    height: auto;
    display: grid;
    justify-content: center;
    align-content: start;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(6, auto);
    margin-top: 25px;
    /* border: 2px solid red; */
    
}

.globe {
    justify-self: center;
    align-self: center;
    grid-area: 2/ 2 / 4 / 3;
    margin-top: 35px;
    background-color: antiquewhite;
}

.globe .globe-img {
    width: 100%;
    align-self: center;
    justify-self: center;
    
}
.espanol {
    grid-column: 1;
    align-self: end;
    justify-self: end;
}

.english {
    grid-column-start: 1;
    grid-row-start: 2;
    align-self: center;
    justify-self: center;   
}

.russian {
    grid-column: 1;
    grid-row: 3;
    align-self: start;
    justify-self: start;
    margin-left: 30px;   
}

.french {
    grid-column-start: 1;
    grid-row-start: 3;
    align-self: end;
    justify-self: center;     
}

.portuguese {
    grid-column: 1;
    grid-row-start: 4;
    align-self: center;
    justify-self: end;
    margin-top: 40px;
}

.chinese {
    grid-column: 3;
    grid-row: 1;
    align-self: end;
    justify-self: start;
}

.japanese {
    grid-column: 3;
    grid-row: 2;
    align-self: center;
    justify-self: center;   
}

.german {
    grid-column: 3;
    grid-row: 3;
    align-self: start;
    justify-self: center;
    margin-left: 30px;  
}

.italian {
    grid-column-start: 3;
    grid-row-start: 3;
    align-self: end;
    justify-self: center;     
}

.arabian {
    grid-column: 3;
    grid-row-start: 4;
    align-self: center;
    justify-self: start;
    margin-top: 40px;
}

.upper-section-bottom {
    grid-row: 5;
    grid-column: 1 / 4;
    justify-items: center;
}

.search-bar{
    display: grid;
    grid-template-columns: 400px 50px 50px;
    width: 500px;
    height: 40px;
    margin: 0 auto;
    margin-top: 30px;
    align-self: start;
    border: 1px solid #adadad;
}

.search-bar:hover {
    border: 1px solid black;
}


.search-bar input {
    height: 35px;
    border: none;
}

.select-language {
    height: 70%;
    align-self: center;
    justify-content: center;
   
}

.select-language select{
    width: 90%;
    height: 100%;
    color: #54595d;
    border: none;
}

.search-bar .search-icon-container {
    grid-column: 3;
    background-color: #36c;
    width: auto;
    height: 40px; 
}

.search-bar .search-icon-container svg {
    width: 50px;
    height: 30px;
    margin-top: 5px;
}

.language-selector {
    grid-row: 5;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    height: 40px;
    width: 500px;
    /* background-color: blue; */
    justify-items: center;
    justify-content: space-between; 
}

.language-selector-bar {
    border: 1px solid #adadad;
    width: 70%;
    height: 35px;
    align-self: center;
    justify-self: center;
}

.language-selector hr {
    width: 11%;
    height: 1px;
    background-color: #adadad;
    border: 2px;
    align-self: center;
}

.language-selector .language-selector-bar button {
    display: flex;
    height: 100%;
    width: 100%;
    color: #36c;
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
}

.language-selector .language-selector-bar button:hover {
    background-color: #ffffff;
}
.language-selector .language-selector-bar button svg {
    width: 20px;
    height: 20px;
}


